.project {
    opacity: 0;
    transform: translate(50px);
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translate(0px, 50px);
    };
    100%{
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    };
    100%{
        opacity: 0;
        transform: translate(0px, -50px);
    }
}

.fade-in-bottom {
    animation: fadeInBottom 0.7s both;
}

.fade-out-up {
    animation: fadeOutUp 0.7s both;
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    };
    100%{
        opacity: 0;
        transform: translateX(-500px);
    }
}

.images {
    width: 100%;
}

.fade-out-left {
    animation: fadeOutLeft 0.5s both;
    z-index: -1;
}

li {
    font-size: 23px;
}